<div class='container' id='home-container'>
  <div class="jumbotron text-white text-center font-weight-bolder">
    <h1 class="display-2">All Sport!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <%= link_to 'Sign up', signup_path, class: 'btn btn-success btn-lg' %>
    </div>
</div>
<div class='container'>
  <p>
    <%= link_to 'Article listing', articles_path %> |
    <%= link_to 'About Page', about_path %>
  </p> 
</div>


