<footer class="footer bg-dark">
  <div class="container text-center">
    <span class="text-light">Copyright &copy; <%= link_to 'EFOOSAGDEV', 'https://efoosag.github.io/my-react-portfolio/', class:'text-white' %></span>
  </div>
</footer>