<footer id="footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center pb-0">
      <small>Copyright &copy; <%= link_to 'EFOOSAGDEV', 'https://efoosag.github.io/my-react-portfolio/' %></small>
    </div>
  </footer>